In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

excel_file_path = "../EDA/Titanic_EDA/train.csv"
df = pd.read_csv(
    excel_file_path, encoding="latin-1", usecols=["Survived", "Age", "Fare"]
)
df.sample(5)

     Survived   Age      Fare
114         0  17.0   14.4583
174         0  56.0   30.6958
802         1  11.0  120.0000
277         0   NaN    0.0000
38          0  18.0   18.0000

In [2]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [3]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=["Survived"])
y = df["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
X_train.head()

      Age     Fare
30   40.0  27.7208
10    4.0  16.7000
873  47.0   9.0000
182   9.0  31.3875
876  20.0   9.8458

In [ ]:
# Test of standardization on logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

lr = LogisticRegression()
lr_scaled = LogisticRegression()
lr.fit(x_train, y_train)
lr_scaled.fit(x_train_scaled, y_train)
y_pred = lr.predict(x_test)
y_pred_scaled = lr_scaled.predict(x_test_scaled)
print(accuracy_score(y_test, y_pred))
print(accuracy_score(y_test, y_pred_scaled))
# using cross_val_score
print(np.mean(cross_val_score(lr, x_test, y_test, scoring="accuracy", cv=10)))
print(
    np.mean(
        cross_val_score(lr_scaled, x_test_scaled, y_test, scoring="accuracy", cv=10)
    )
)