In [58]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

excel_file_path = "../EDA/Titanic_EDA/train.csv"
df = pd.read_csv(
    excel_file_path, encoding="latin-1", usecols=["Survived", "Age", "Fare"]
)
df.sample(5)

     Survived   Age    Fare
71          0  16.0  46.900
536         0  45.0  26.550
277         0   NaN   0.000
150         0  51.0  12.525
587         1  60.0  79.200

In [59]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [60]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=["Survived"])
y = df["Survived"]
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state=2)
X_train.head()

      Age     Fare
30   40.0  27.7208
10    4.0  16.7000
873  47.0   9.0000
182   9.0  31.3875
876  20.0   9.8458

In [61]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

Lr = LinearRegression()
imp_mean = IterativeImputer(estimator= Lr, verbose=2, max_iter=10000, tol=1e-10, imputation_order='random')
column_name = X_train.columns
X_train_imputed = imp_mean.fit_transform(X_train)
X_train_imputed = pd.DataFrame(X_train_imputed, columns=column_name)
X_train_imputed

[IterativeImputer] Completing matrix with shape (712, 2)
[IterativeImputer] Ending imputation round 1/10000, elapsed time 0.01
[IterativeImputer] Change: 4.89562730450665, scaled tolerance: 5.123292e-08
[IterativeImputer] Ending imputation round 2/10000, elapsed time 0.01
[IterativeImputer] Change: 0.0, scaled tolerance: 5.123292e-08
[IterativeImputer] Early stopping criterion reached.

           Age      Fare
0    40.000000   27.7208
1     4.000000   16.7000
2    47.000000    9.0000
3     9.000000   31.3875
4    20.000000    9.8458
..         ...       ...
707  30.000000    8.6625
708  29.092071    8.7125
709  71.000000   49.5042
710  34.681532  221.7792
711  29.543613   25.9250

[712 rows x 2 columns]

In [62]:
column_name = X_test.columns
X_test_imputed = imp_mean.transform(X_test)
X_test_imputed = pd.DataFrame(X_test_imputed, columns=column_name)
X_test_imputed

[IterativeImputer] Completing matrix with shape (179, 2)
[IterativeImputer] Ending imputation round 1/2, elapsed time 0.00
[IterativeImputer] Ending imputation round 2/2, elapsed time 0.00

           Age     Fare
0    42.000000  26.2875
1    21.000000   8.0500
2    24.000000  65.0000
3    28.000000  56.4958
4    17.000000   7.9250
..         ...      ...
174  24.000000   8.0500
175  22.000000   9.0000
176  30.688045  69.5500
177  26.000000   7.8958
178  29.000000  10.4625

[179 rows x 2 columns]

In [63]:
def get_accuracy(X_train, Y_train, X_test, Y_test):
    Lr = LinearRegression()
    Lr.fit(X_train, Y_train)
    print(np.mean(cross_val_score(Lr, X_test, Y_test, scoring="r2")))

# get_accuracy(X_train, Y_train, X_test, Y_test)
get_accuracy(X_train_imputed, Y_train, X_test_imputed, Y_test)

-0.05125223916716752