In [20]:
# random imputation:
# can be used in both numerical and categorical imputation
# not available in sklearn
# pdf is preserved (based on probablity)
# variance is preserved but covariance is not

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

%matplotlib inline

excel_file_path = "./titanic_toy.csv"
df = pd.read_csv(excel_file_path, encoding="latin-1")
df.head(5)

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [21]:
df.isnull().sum()

Age         177
Fare         45
Family        0
Survived      0
dtype: int64

In [26]:
# X_train['Age_imputed'].isnull() returns a boolean mask indicating True for missing values (NaN) in the 'Age_imputed' column.
# X_train['Age'].dropna() drops missing values from the 'Age' column.
# .sample(X_train['Age'].isnull().sum()) randomly samples non-null values from the 'Age' column, 
# where the number of samples is equal to the count of missing values in the 'Age_imputed' column.
# .values converts the sampled values to a numpy array.
# The right-hand side of the assignment generates a series of sampled values from the 'Age' column, 
# matching the number of missing values in the 'Age_imputed' column.
# The left-hand side selects the rows in the 'Age_imputed' column where the value is missing (NaN).

df['Age_imputed'] = df['Age']
# print(df['Age'][df['Age_imputed'].isnull()])
# print(df['Age'].dropna().sample(df['Age'].isnull().sum()).values)
df['Age_imputed'][df['Age_imputed'].isnull()] = df['Age'].dropna().sample(df['Age'].isnull().sum()).values

C:\Users\hp\AppData\Local\Temp\ipykernel_7332\3051201348.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age_imputed'][df['Age_imputed'].isnull()] = df['Age'].dropna().sample(df['Age'].isnull().sum()).values

In [27]:
df['Age_imputed'].isnull().sum()

0

In [28]:
df.cov()

                    Age         Fare     Family  Survived  Age_imputed
Age          211.019125    78.071438  -6.507525 -0.551296   211.019125
Fare          78.071438  2530.673077  17.460363  6.442361    72.989001
Family        -6.507525    17.460363   2.603248  0.013063    -4.711502
Survived      -0.551296     6.442361   0.013063  0.236772    -0.520289
Age_imputed  211.019125    72.989001  -4.711502 -0.520289   207.251101

In [31]:
# df['Age_imputed'] value is decided on the basis for the same fare value  
df['Age_imputed'][df['Age'].isnull()] = df['Age'].dropna().sample(1, random_state=int(df['Fare'].values[0]))

C:\Users\hp\AppData\Local\Temp\ipykernel_7332\1289778903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age_imputed'][df['Age'].isnull()] = df['Age'].dropna().sample(1, random_state=int(df['Fare'].values[0]))

In [32]:
df.cov()

                    Age         Fare     Family  Survived  Age_imputed
Age          211.019125    78.071438  -6.507525 -0.551296   211.019125
Fare          78.071438  2530.673077  17.460363  6.442361    78.071438
Family        -6.507525    17.460363   2.603248  0.013063    -6.507525
Survived      -0.551296     6.442361   0.013063  0.236772    -0.551296
Age_imputed  211.019125    78.071438  -6.507525 -0.551296   211.019125